.container {
  position: fixed;
  top: 22vh;
  left: 10vw;
  border-radius: 12px;
  background-color: rgb(174, 174, 174);
  padding-inline: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 250px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  width: 180px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  height: 25px;
  margin-block: 10px;
}

.btn {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon {
  width: 36px;
  height: 36px;
  transform: scale(1);
}

.icon:hover {
  transform: scale(1.2);
}