.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/phonebookHeroImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.title {
    padding-top: 32vh;
    letter-spacing: 0.06em;
    max-width: 696px;
    font-weight: 900;
    font-size: 70px;
    margin: 0 auto;
    text-align: center;
    color: beige;
}